
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/CIVdrugCalculatorWeb/v17/DocumentLayout.json
.vs/CIVdrugCalculatorWeb/v17/.wsuo
.vs/CIVdrugCalculatorWeb/FileContentIndex/dae4cbc6-09f7-4ab9-a6f2-0d697a22ea5c.vsidx
.vs/CIVdrugCalculatorWeb/FileContentIndex/8efbf2f1-d0b7-41c4-8be4-82c7d90c2ef8.vsidx
.vs/CIVdrugCalculatorWeb/FileContentIndex/70abc510-74bb-4f8e-8272-8305238fdec2.vsidx
.vs/CIVdrugCalculatorWeb/FileContentIndex/012b645d-ebe7-4d51-88b0-ddbeb38bf596.vsidx
.vs/CIVdrugCalculatorWeb/FileContentIndex/996a2790-0f06-4094-b141-86578c0ffcc9.vsidx
.vs/CIVdrugCalculatorWeb/FileContentIndex/ef0d310b-8f7a-4183-973c-4c2e5d929d43.vsidx
