* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    max-width: 500px;
}
body{
    width: 100%;
}

input {
    font-size: inherit;
}

a::after {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(civdrugcalculatorLarge.png);
}
.mail::after {

    background-image: url(icons.png);
    background-size: 180px;
    background-position: -135px -180px;
    width: 40px;
    height: 40px;
    margin-left:5px;
    float:left;
}
.icon_x::after {
    background-image: url(icons.png);
    background-size: 128px;
    background-position: -96px -32px;
    width: 32px;
    height: 32px;
    margin-left: 0px;
    float: left;
}
.civ::after{
    background-position: 0px 0px;
    background-size: 36px;
}
#input1 {
    width: 80px;
    height: 30px;
    font-size: 30px;
    text-align:right;
}

#addbt{
    width:200px;
    height:36px;
    margin: 10px;
    font-size: 20px;
}
#position{
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
}
.drugitem {
    background: rgb(230,230,230);
    border: 1px solid #353535;
    height: 12vh;
    padding: 0px;
    margin-top: 10px;
}
.drugnametxt {
    border: none;
    height: 4vh;
    min-width: 0;
    width: 100%;
}
.drugspeed {
    border: none;
    user-select: none;
    min-width: 4vw;
    width: 30%;
    max-width: 80px;
    height: 4vh;
    text-align: right;
}
.drugspeedtxt {
    border: none;
    height: 4vh;
    width: 70%;
    text-align: left;
    margin-left: 10px;
}
.dosefluidcell {
    display:flex;
    align-items:center;
    justify-content: end;
    text-align:right;
    font-size: 24px;
}
.dosefluidcell input {
    flex: 1 1 auto;
    min-width: 2ch;
    max-width: 4ch;
    width: 100%;
}
.drugdose{
    border: none;
    text-align: right;
}
.fluidcc {
    border: none;
    text-align: right;
}


.drugresult {
    text-align: right;
    font-size: 24px;
}
.drugitem table{
    padding: 8px;
    vertical-align:bottom;
    width: 100%;
}

th,td{
    
}
.modal{
    display:none; /* 평소에는 보이지 않음 */
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
    background:rgba(0,0,0,0.8);
}
