* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
   
    min-width: 640px;
    max-width: 640px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
}
body{
    min-width: 640px;
    max-width: 640px;
}

a::after {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(civdrugcalculatorLarge.png);
}
.mail::after {

    background-image: url(icons.png);
    background-size: 180px;
    background-position: -135px -180px;
    width: 40px;
    height: 40px;
    margin-left:5px;
    float:left;
}
.civ::after{
    background-position: 0px 0px;
    background-size: 36px;
}
#input1 {
    width: 90px;
    height: 40px;
    font-size: 36px;
}

#addbt{
    width:240px;
    height:40px;
    margin: 10px;
    font-size: 24px;
}
#position{
    padding:4px 7px 2px 4px;
}
.drugitem {
    background: rgb(230,230,230);
    border: 1px solid #353535;
    width: 600px;
    height: 140px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px;
    margin-top: 10px;
}
.drugnametxt {
    border: none;
    width: 300px;
    height: 48px;
    font-size: 30px;
}
.drugspeed {
    border: none;
    user-select: none;
    width: 80px;
    height: 48px;
    text-align: right;
}
.drugspeedtxt {
    border: none;
    width: 210px;
    height: 48px;
    font-size: 36px;
    text-align: left;
    margin-left: 10px;
}
.drugdose{
    border: none;
    width: 90px;
    height: 48px;
    font-size: 48px;
    text-align: right;
}
.fluidcc {
    border: none;
    width: 60px;
    height: 48px;
    font-size: 48px;
    text-align: right;
}


.drugresult {
    width: 200px;
    height: 48px;
    text-align: right;
}
table{
    padding-left: 20px;
    padding-right: 20px;
    vertical-align:bottom;
}
th,td{
    
}
