/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox  */
input[type='number'] {
    -moz-appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    max-width: 500px;
}
body{
    width: 100%;
}

input {
    font-size: 16px; /*4vw;*/
    height: 24px; /*4vh*/
}
/* 이미지 아이콘 */
a::after {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(civdrugcalculatorLarge.png);
    margin-top: 4px;
}
.mail::after {
    background-image: url(icons.png);
    background-size: 180px;
    background-position: -135px -180px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    float: left;
   
}
.icon_x::after {
    background-image: url(icons.png);
    background-size: 128px;
    background-position: -96px -32px;
    width: 32px;
    height: 32px;
    margin-left: 0px;
    float: right;
}
.icon_delete::after {
    background-image: url(icons.png);
    background-size: 128px;
    background-position: -96px -32px;
    width: 32px;
    height: 32px;
    margin: -20px 0px 0px -5px;
    float: right;
}
.icon_plus::after {
    background-image: url(icons.png);
    background-size: 128px;
    background-position: -128px -64px;
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-top:0px;
    float: left;
}
.icon_preset::after {
    background-image: url(icons.png);
    background-size: 128px;
    background-position: -64px -32px;
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-top: 0px;
    float: left;
}
.civ::after{
    background-position: 0px 0px;
    background-size: 36px;
}

/* float box */
.bwt {
    position: fixed;
    left: 400px;
    max-width: 100%;
    bottom: 40px;
    width: 100px;
    height: 40px;
}
@media(max-width:500px){
    /*화면 넓이가 500px 이하일 때 */
    .bwt {
        position: fixed;
        left: auto;
        max-width: 100%;
        bottom: 40px;
        right: 30px;
        width: 100px;
        height: 40px;
    }
}
.infobox {
    position: fixed;
    left: 300px;
    max-width: 100%;
    bottom: 30px;
    width: 200px;
    height: 75px;
}
@media(max-width:500px){
    /*화면 넓이가 500px 이하일 때 */
    .infobox {
        position: fixed;
        left: auto;
        max-width: 100%;
        right: 40px;
        bottom: 30px;
        width: 200px;
        height: 75px;
    }
} 
#bwtinput {
    width: 70px;
    height: 36px;
    font-size: 32px;
    text-align:right;
    margin: 2px 0px 2px 5px;
    background: rgb(0,0,0,0);
    border: none;
}
.box {
    background: rgb(210,210,210);
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(0,0,0,0.6);
}


/* drug list box */
#addbt {
    position: fixed;
    width: 40px;
    height: 40px;
    margin: 0px;
    left: 20px;
    bottom: 40px;
    font-size: 20px;
}
#presetbt {
    position: fixed;
    width: 120px;
    height: 40px;
    margin: 0px;
    left: 70px;
    bottom: 40px;
    font-size: 20px;
}
#position{
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
}
.xbt {
    background: rgb(0,0,0,0);
    border:none;
}
.drugitem {
    background: rgb(230,230,230);
    border: 1px solid #353535;
    padding: 0px;
    margin-top: 10px;
}
.drugnametxt {
    border: none;
    min-width: 0;
    width: 100%;
    padding:0px 4px 0px 4px;
}
.drugspeed {
    
    border: none;
    user-select: none;
    min-width: 4vw;
    width: 30%;
    max-width: 80px;
    text-align: right;
    padding: 0px 4px 0px 4px;
}
.drugspeedtxt {
    border: none;
    width: 70%;
    text-align: left;
    margin-left: 10px;
    padding: 0px 4px 0px 4px;
}
.dosefluidcell {
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
    font-size: 20px;
    padding: 0px 4px 0px 4px;
}
.dosefluidcell input {
    flex: 1 1 auto;
    min-width: 20px;
    max-width: 60px;
    width: 100%;

}
.drugdose {
    
    border: none;
    text-align: right;
    padding: 0px 4px 0px 4px;
}
.fluidcc {
    border: none;
    text-align: right;
    padding: 0px 4px 0px 4px;
}
.dosebt{
    min-width: 50px;
    height: 24px;
}
.speedBt{
    width:30px;
    height:24px;
}
.drugresult {
    text-align: right;
    font-size: 20px;
    padding: 0px 4px 0px 4px;
}
.drugitem table{
    padding: 2px;
    vertical-align:bottom;
    width: 100%;
}


/*modal box*/
.modal {

    
    /* display: none; inline 평소에는 보이지 않음 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
}
.modal.menu {
    /* display:none; */
}
.modal.preset{
    display:none;
}
.presetItem {
    background: rgb(230,230,230);
    border: 1px solid #353535;
    padding: 0px;
    margin-top: 10px;
    max-width: 500px;
}

.disableInput {
    background: none;
    border: none;
    padding: 0px 4px 0px 4px;
    width:100%;
    font-size : 18px;
}
.right {
    text-align: right;
  
}
.center{
    text-align: center;
}
